<p>Coucou. Ici le but va être de faire un nouveau component et un service.</p>

<p>Fais comme si BeerService n'existait pas et recrée le pour faire un appel http</p>

<p>Crée un composant de liste d'ingrédients, appelle le dans le html ici, et passe lui en input la liste d'ingrédients de ta bière.</p>
<p>Ensuite ajoute un output à ta liste pour remonter la ligne cliquée et l'afficher ici. Ca fera doublon mais c'est pas grave.</p>


<!-- <p>{{ selectedIngredient }}</p> -->

<!-- <ingredient-list></ingredient-list> -->

